<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
<head>
{{- partial "head.html" . -}}
{{- partial "custom-head.html" . -}}
</head>
<body>
<div id="main">
    <div class="preempdia">
        {{- partial "header.html" . -}}
        <div class="main-part">
            <div class="main-row">
                <div class="leftside">
                    {{- partial "menu.html" . -}}
                </div>
                <div class="rightside">
                    {{- block "main" . -}}
                    {{- end -}}
                </div>
            </div>
        </div>
        
    </div>
</div>
</body>
</html>
