
{{ if isset .Params "contributors" }}
    <h1>Article Contributors</h1>
    {{- range .Params.contributors -}}
        {{ $contributor := index $.Site.Data.contributors .name }}
        <figure class="figure mr-3">
            <img src="{{$contributor.image}}" class="figure-img img-fluid rounded-circle img-thumbnail" style="max-height:5em;max-width:5em" />
            <figcaption class="figure-caption">{{ $contributor.name }}</figcaption>
            <figcaption class="figure-caption">{{ humanize .role }}</figcaption>
        </figure>
    {{- end -}}
{{ end }}