
<div class="header">
    <div class="container-fluid">
        <a class="logo" href="index.html">{{ .Site.Title }}</a>
        <div class="trans">
              <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">select language</a>
              <div class="dropdown-menu">
                  <ul>
                    <li><a href="#">dutch</a></li>
                    <li><a class="french" href="#">french</a></li>
                    <li><a class="german" href="#">german</a></li>
                    <li><a class="irish" href="#">irish</a></li>
                    <li class="last"><a class="italian" href="#">italian</a></li>
                </ul>
              </div>
            </div>  
        </div>
    </div>
</div>

