
<header>
    <div class="d-flex justify-content-between">
        <div>
            <img src="{{"images/logo.png" | absURL}}" class="logo"/>
            <h1><a href="index.html">{{ .Site.Title }}</a></h1>
        </div>
        <div class="d-flex justify-content-center flex-column">    
            <div class="dropdown" id="languageSelectDropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="selectLanguageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                </button>
                <div class="dropdown-menu" aria-labelledby="selectLanguageButton">
                    {{ range $.Site.Home.AllTranslations }}
                    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                </div>
            </div>  
        </div>
    </div>
</header>

